In [1]:
import pandas as pd
import matplotlib as plt
from sqlalchemy import create_engine, text

In [2]:
database_name = ' Metal' 
connection_string = f"postgresql://postgres:postgres@localhost:5432/{database_name}"
engine = create_engine(connection_string)

In [3]:
query1 = """SELECT * FROM job_operations_2023"""

with engine.connect() as connection:
    job_operations_2023 = pd.read_sql(text(query1), con = connection)

job_operations_2023

,jmo_job_id,jmo_job_assembly_id,jmo_job_operation_id,jmo_operation_type,jmo_added_operation,jmo_prototype_operation,jmo_plant_department_id,jmo_plant_id,jmo_work_center_id,jmo_process_id,...,ujmo_two_man_op,ujmo_pfmrelease_date,ujmo_rework_created,ujmo_tooling_needed,ujmo_scheduled_start,ujmo_scheduled_due,ujmo_prod_due_date,ujmo_pfmop_start,ujmo_test_field,ujmo_line_center
0,31816-0001-001,1,20,1,False,False,None,1.0,BRAKE,PB,...,False,NaT,False,False,None,None,None,None,None,None
1,31872-0001-001,0,10,1,False,False,None,1.0,LASER,LASER,...,False,NaT,False,False,None,None,None,None,None,None
2,31872-0001-001,0,20,1,False,False,None,1.0,BRAKE,PB,...,False,NaT,False,False,None,None,None,None,None,None
3,31872-0001-001,0,40,1,False,False,None,1.0,BRAKE,PB,...,False,NaT,False,False,None,None,None,None,None,None
4,31872-0001-001,0,50,1,False,False,None,1.0,PACK,WRAP,...,False,NaT,False,False,None,None,None,None,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
42680,32925-0003-001,0,10,1,False,False,None,1.0,LASER,LASER,...,False,NaT,False,False,None,None,None,None,None,None
42681,32925-0003-001,0,20,1,False,False,None,1.0,PACK,WRAP,...,False,NaT,False,False,None,None,None,None,None,None
42682,32925-0001-001,0,10,1,False,False,None,1.0,LASER,LASER,...,False,NaT,False,False,None,None,None,None,None,None
42683,32925-0001-001,0,20,1,False,False,None,1.0,BRAKE,PB,...,False,NaT,True,False,None,None,None,None,None,None
42684,32925-0001-001,0,30,1,False,False,None,1.0,PACK,WRAP,...,False,NaT,False,False,None,None,None,None,None,None

In [4]:
query2 = """SELECT * FROM job_operations_2024"""

with engine.connect() as connection:
    job_operations_2024 = pd.read_sql(text(query2), con = connection)
job_operations_2024.tail()

,jmo_job_id,jmo_job_assembly_id,jmo_job_operation_id,jmo_operation_type,jmo_added_operation,jmo_prototype_operation,jmo_plant_department_id,jmo_plant_id,jmo_work_center_id,jmo_process_id,...,ujmo_two_man_op,ujmo_pfmrelease_date,ujmo_rework_created,ujmo_tooling_needed,ujmo_scheduled_start,ujmo_scheduled_due,ujmo_prod_due_date,ujmo_pfmop_start,ujmo_test_field,ujmo_line_center
42298,35851-0015-001,0,40,1,False,False,NaN,1,PACK,WRAP,...,False,NaT,False,False,None,None,None,None,None,None
42299,35865-0001-001,0,10,1,False,False,NaN,1,LASER,LASER,...,False,NaT,False,False,None,None,None,None,None,None
42300,35865-0002-001,0,30,2,False,False,NaN,1,OUTPC,PCOAT,...,False,NaT,False,False,None,None,None,None,None,None
42301,35865-0002-001,0,40,1,False,False,NaN,1,PACK,WRAP,...,False,NaT,False,False,None,None,None,None,None,None
42302,35865-0003-001,0,10,1,False,False,NaN,1,PACK,WRAP,...,False,NaT,False,False,None,None,None,None,None,None

In [5]:
query3 = """SELECT * FROM jobs"""

with engine.connect() as connection:
    jobs = pd.read_sql(text(query3), con = connection)

jobs.tail()

,jmp_job_id,jmp_plant_department_id,jmp_plant_id,jmp_production_due_date,jmp_customer_organization_id,jmp_job_date,jmp_part_id,jmp_part_revision_id,jmp_part_ware_house_location_id,jmp_part_bin_id,...,ujmp_remaining_to_ship,ujmp_pfmrelease_date,ujmp_rework_created,ujmp_hold_reason,ujmp_hold_owner,ujmp_bomvalidated,ujmp_nest_name,ujmp_qchold,ujmp_qchold_dept,ujmp_first_run
14810,35815-0001-001,None,1.0,2024-11-11,S038-STLKI,2024-11-07,S038-0991,0,CHATT,BIN A,...,None,2024-11-06 18:13:12,False,None,0,True,112472,False,0,False
14811,35819-0001-001,None,1.0,2024-11-26,S046-SPOC,2024-11-08,S046-0284,04,CHATT,BIN A,...,None,2024-11-21 07:12:36,False,None,0,True,112489,False,0,False
14812,35819-0002-001,None,1.0,2024-11-26,S046-SPOC,2024-11-08,S046-0402,04,CHATT,BIN A,...,None,2024-11-20 14:41:24,False,None,0,True,112489,False,0,False
14813,35820-0001-001,None,1.0,2025-01-28,Y002-YNGTC,2024-11-08,Y002-0455,C,CHATT,BIN A,...,None,2025-01-23 12:48:00,False,None,0,True,None,False,0,False
14814,35821-0001-001,None,1.0,2025-01-22,Y002-YNGTC,2024-11-08,Y002-0076,0,CHATT,BIN A,...,None,2025-01-17 06:00:00,False,None,0,True,None,False,0,False

In [6]:
query4 = """SELECT * FROM part_assemblies"""

with engine.connect() as connection:
    part_assemblies = pd.read_sql(text(query4), con = connection)

part_assemblies.head()

,ima_method_id,ima_method_revision_id,ima_method_assembly_id,ima_level,ima_parent_assembly_id,ima_part_id,ima_part_revision_id,ima_unit_of_measure,ima_part_short_description,ima_part_long_description_text,...,ima_documents,ima_overlap_operation_id,ima_overlap_type,ima_overlap_source_operation_id,ima_assembly_overlap,ima_overlap_source_link,ima_overlap_destination_link,ima_overlap_offset_time,ima_created_by,ima_created_date
0,S046-0458,A,0,1,0,S046-0458,A,EA,120-289,"ENCLOSURE ACCESSORY, PALLET BASE EB125/220",...,16185\n16186\n16187\n16188\n16189\n16190\n1619...,0,0,0,0,0,0,0,None,NaT
1,A007-0014,B,0,1,0,A007-0014,B,EA,13067-001 REV B BRACKET TRANSFORMER MTG ****OF...,13067-001 REV B BRACKET TRANSFORMER MTG ****OF...,...,8911,0,0,0,0,0,0,0,None,NaT
2,A012-0003,B,0,1,0,A012-0003,B,EA,"99809 GUIDE, CENTER WALL, ALUM","99809 GUIDE, CENTER WALL, ALUM",...,5598,0,0,0,0,0,0,0,None,NaT
3,H030-0004,A,0,1,0,H030-0004,A,EA,900-1245 JMT Axle Plate,None,...,11746,0,0,0,0,0,0,0,SecturaFAB,2022-05-05 11:11:09.380
4,A045-0008,0,0,1,0,A045-0008,0,EA,"MS-304 MS-SSSP 5/8"" THREADED ROD","MS-304 MS-SSSP 5/8"" THREADED ROD CUT 14 INCHE...",...,8026,0,0,0,0,0,0,0,None,NaT

In [7]:
query5 = """SELECT * FROM part_operations"""

with engine.connect() as connection:
    part_operations = pd.read_sql(text(query5), con = connection)

part_operations.head()

,imo_method_id,imo_method_revision_id,imo_method_assembly_id,imo_method_operation_id,imo_operation_type,imo_plant_department_id,imo_plant_id,imo_work_center_id,imo_process_id,imo_process_short_description,...,imo_quantity_break8,imo_unit_cost8,imo_quantity_break9,imo_unit_cost9,imo_created_by,imo_created_date,uimo_two_man_op,uimo_line_center,uimo_packaging,uimo_temperature
0,A001-2574,1,0,30,2,NaN,1,OUTPC,PLATE,CLEAR ZINC PLATED PER NOTES 4&5 ON DRAWING 820222,...,0,0,0,0,None,NaT,False,None,None,None
1,U005-0001,0,0,30,2,NaN,1,OUTPC,PCOAT,POWDER COAT PER PRINT,...,0,0,0,0,nburrows,2018-09-28 14:53:59,False,None,None,None
2,M030-0433,A,0,30,2,NaN,1,OUTPC,GALV,HOT-DIP GALVANIZE,...,0,0,0,0,kkeesee,2022-09-07 10:00:32,False,None,None,None
3,S046-0326,01,0,20,2,NaN,1,OUTPC,PCOAT,POWDER COAT HIGH REFLECTIVE WHITE,...,0,0,0,0,shale,2023-07-12 15:55:18,False,None,None,None
4,A053-0034,0,0,50,2,NaN,1,OUTPC,PCOAT,POWDERCOAT- RAL9010 WHITE–5-YEAR SUPER DURABLE,...,0,0,0,0,lwallace,2023-09-07 10:59:47,False,None,None,None

In [8]:
query6 = """SELECT * FROM parts"""

with engine.connect() as connection:
    parts = pd.read_sql(text(query6), con = connection)

parts.head()

,imp_part_id,imp_short_description,imp_long_description_text,imp_part_type,imp_part_group_id,imp_part_class_id,imp_cycle_code_id,imp_non_stocked_item,imp_oemorganization_id,imp_web_sellable_to_all,...,imp_next_serial_number_idformula,imp_track_lot_numbers,imp_non_physical_shipment,imp_phantom_or_kit_part,imp_buy_for_inventory,imp_reorder_method,imp_inactive,imp_inactive_date,imp_created_by,imp_created_date
0,C006-0556,JA02892 PLATE MTG QC BREAKER,JA02892 PLATE MTG QC BREAKER,2,LVSLS,FG,None,False,None,False,...,None,False,False,False,False,0,False,NaT,IMPORT,2018-06-10
1,F015-0002,60241-02-L16,"60241-02-L16 FORMED LUG\n\n16"" LG. FTSS FORME...",2,LVSLS,FG,SHEET,False,None,False,...,None,False,False,False,False,0,False,NaT,IMPORT,2018-06-10
2,C006-0546,MBC03939X4 BACK PANEL ARE 24,MBC03939X4 BACK PANEL ARE 24,2,LVSLS,FG,None,False,None,False,...,None,False,False,False,False,0,False,NaT,IMPORT,2018-06-10
3,C006-0573,MBC04126X4 MBC04126 MBC4126 FRAME - WELDMENT M...,MBC04126X4 MBC04126 MBC4126 FRAME - WELDMENT M...,2,LVSLS,FG,None,False,None,False,...,None,False,False,False,False,0,False,NaT,IMPORT,2018-06-10
4,C006-0229,"201-7472-00A - WELDMENT, 30'' ARE FRONT BRACE ...","201-7472-00A - WELDMENT, 30'' ARE FRONT BRACE ...",2,LVSLS,FG,None,False,None,False,...,None,False,False,False,False,0,False,NaT,IMPORT,2018-06-10

In [9]:
query7 = """SELECT * FROM sales_order_job_links"""

with engine.connect() as connection:
    sales_order_job_links = pd.read_sql(text(query7), con = connection)

sales_order_job_links.head()

,omj_sales_order_id,omj_sales_order_line_id,omj_sales_order_job_link_id,omj_link_type,omj_sales_order_delivery_id,omj_job_id,omj_closed,omj_created_by,omj_created_date
0,31876,1,1,1,0,31876-0001-001,False,bsinclair,2023-09-12 08:42:50
1,31876,2,1,1,0,31876-0002-001,False,bsinclair,2023-09-12 08:43:20
2,31877,1,1,1,0,31877-0001-001,False,bsinclair,2023-09-12 08:45:35
3,31879,1,1,1,0,31879-0001-001,False,bsinclair,2023-09-12 08:49:41
4,31880,1,1,1,0,31880-0001-001,False,bsinclair,2023-09-12 08:53:11

In [10]:
query8 = """SELECT * FROM sales_order_lines"""

with engine.connect() as connection:
    sales_order_lines = pd.read_sql(text(query8), con = connection)

sales_order_lines.head()

,oml_sales_order_id,oml_sales_order_line_id,oml_part_id,oml_org_part_id,oml_part_revision_id,oml_unit_of_measure,oml_part_group_id,oml_part_short_description,oml_org_part_short_description,oml_part_long_description_text,...,oml_deposit_amount_foreign,oml_deposit_created,oml_deposit_credited,oml_documents,oml_avalara_ignore_line,oml_delivery_quantity_total,oml_created_by,oml_created_date,oml_easy_order_external_status,oml_release_number
0,34460,8,M047-0075,None,0,EA,LVSLS,9922,None,None,...,0.0,False,False,None,False,1600,kdinger,2024-06-05 08:19:45,CON,None
1,34498,3,M047-0077,None,0,EA,LVSLS,810,None,LASER CUT 810.DXF MTLWRX SUPPLIED 3/16 HRPO 48...,...,0.0,False,False,None,False,120,kdinger,2024-06-10 09:12:13,CON,None
2,31842,3,M045-0003,None,00,EA,LVSLS,"07018065 BRACKET, HDP20 90 DEG D",None,"07018065 BRACKET, HDP20 90 DEG D",...,0.0,False,False,14960,False,65,bsinclair,2023-09-08 14:02:20,CON,None
3,31842,4,M045-0004,None,02,EA,LVSLS,810960001 CHAIN POCKET PLATE - SHIP KIT B,None,810960001 CHAIN POCKET PLATE - SHIP KIT B,...,0.0,False,False,None,False,60,bsinclair,2023-09-08 14:02:42,CON,None
4,31842,6,M045-0006,None,00,EA,LVSLS,810031201 INSIDE SKIRT PLATE ALUM,None,810031201 INSIDE SKIRT PLATE ALUM,...,0.0,False,False,None,False,25,bsinclair,2023-09-08 14:03:26,CON,None

In [11]:
query9 = """SELECT * FROM sales_orders"""

with engine.connect() as connection:
    sales_orders = pd.read_sql(text(query9), con = connection)

sales_orders.head()

,omp_sales_order_id,omp_plant_id,omp_plant_department_id,omp_customer_organization_id,omp_arinvoice_location_id,omp_arinvoice_contact_id,omp_quote_location_id,omp_quote_contact_id,omp_ship_organization_id,omp_ship_location_id,...,omp_ups3rd_party_organization_id,omp_ups3rd_party_location_id,omp_easy_order_status,omp_easy_order_enabled,omp_split_percent_total,omp_easy_order_external_status,omp_easy_order_paid,omp_created_by,omp_created_date,uomp_promise_date
0,31876,1,None,M030-MORGO,NaN,KimHo,NaN,None,M030-MORGO,1,...,None,None,0,False,0,CON,False,bsinclair,2023-09-12 08:41:55,2023-10-26
1,31877,1,None,M030-MORGO,NaN,KimHo,NaN,None,M030-MORGO,1,...,None,None,0,False,0,CON,False,bsinclair,2023-09-12 08:44:53,2023-10-19
2,31878,1,None,M030-MORGO,NaN,KimHo,NaN,None,M030-MORGO,1,...,None,None,0,False,0,CON,False,bsinclair,2023-09-12 08:47:07,2023-10-27
3,31879,1,None,M030-MORGO,NaN,KimHo,NaN,None,M030-MORGO,1,...,None,None,0,False,0,CON,False,bsinclair,2023-09-12 08:48:54,2023-10-26
4,31880,1,None,M030-MORGO,NaN,KimHo,NaN,None,M030-MORGO,1,...,None,None,0,False,0,CON,False,bsinclair,2023-09-12 08:50:27,2023-10-09

In [12]:
query10 = """SELECT * FROM shipment_lines"""

with engine.connect() as connection:
    shipment_lines = pd.read_sql(text(query10), con = connection)

shipment_lines.head()

,sml_shipment_id,sml_shipment_line_id,sml_part_id,sml_part_revision_id,sml_org_part_id,sml_part_warehouse_location_id,sml_part_bin_id,sml_sodelivery_quantity,sml_soopen_quantity,sml_quantity_shipped,...,sml_closed,sml_posted_to_gl,sml_reversed,sml_reverse_shipment_id,sml_reverse_shipment_line_id,sml_shipment_idnumber,sml_created_by,sml_created_date,sml_source_table_name,sml_source_table_unique_id
0,38315,4,H030-0024,B,None,CHATT,BIN A,1,0,0,...,False,True,False,NaN,0,None,shope,2023-02-02 09:29:58,SalesOrderDeliveries,f338b57c-3ffc-4041-9fd9-9633e2605cd5
1,39238,3,H030-0023,B,None,CHATT,BIN A,10,1,0,...,False,True,False,NaN,0,None,shope,2023-03-14 07:23:10,SalesOrderDeliveries,1f7d25ce-6a95-494d-a1c2-cae90208b0a1
2,40279,3,DC-RPCW-01,0,None,CHATT,BIN A,1,0,0,...,False,True,False,NaN,0,None,shope,2023-04-20 13:21:00,SalesOrderDeliveries,ae539fa1-cc75-49a9-b6df-fa6a29a43491
3,45044,4,H030-0046,0,None,CHATT,BIN A,2,0,0,...,False,True,False,NaN,0,None,shope,2023-11-09 13:34:16,SalesOrderDeliveries,839e3c14-67ca-4302-b730-fb415610484d
4,46870,7,H030-0065,A,None,CHATT,BIN A,1,0,0,...,False,True,False,NaN,0,None,shope,2024-04-04 14:02:04,SalesOrderDeliveries,70e3023d-ddec-480a-ad94-28c520b24498

In [13]:
query11 = """SELECT * FROM shipments"""

with engine.connect() as connection:
    shipments = pd.read_sql(text(query11), con = connection)

shipments.head()

,smp_shipment_id,smp_plant_department_id,smp_plant_id,smp_ship_date,smp_customer_organization_id,smp_arinvoice_location_id,smp_arinvoice_contact_id,smp_ship_organization_id,smp_ship_location_id,smp_ship_contact_id,...,smp_blind_ship_contact_id,smp_fed_ex3rd_party_organization_id,smp_fed_ex3rd_party_location_id,smp_ups3rd_party_organization_id,smp_ups3rd_party_location_id,smp_created_by,smp_created_date,smp_editransferred,smp_editransferred_date,smp_edishipment_ready
0,43551,None,1.0,2023-09-12 06:15:53,S046-SPOC,NaN,AP,S046-SPOC,1,None,...,None,None,None,None,None,shope,2023-09-12 06:15:53,False,None,False
1,43552,None,1.0,2023-09-12 06:16:41,S046-SPOC,NaN,AP,S046-SPOC,BLDG8,None,...,None,None,None,None,None,shope,2023-09-12 06:16:41,False,None,False
2,43553,None,1.0,2023-09-12 06:17:22,S046-SPOC,NaN,AP,S046-SPOC,MAYER,None,...,None,None,None,None,None,shope,2023-09-12 06:17:22,False,None,False
3,43554,None,1.0,2023-09-12 06:18:32,S046-SPOC,NaN,AP,S046-SPOC,1,None,...,None,None,None,None,None,shope,2023-09-12 06:18:32,False,None,False
4,43555,None,1.0,2023-09-12 06:19:31,S046-SPOC,NaN,AP,S046-SPOC,1,None,...,None,None,None,None,None,shope,2023-09-12 06:19:31,False,None,False

## b. How has the volume of work changed for each customer over time? Are there any seasonal patterns? How have the number of estimated hours per customer changed over time? Estimated hours are in the jmo_estimated_production_hours columns of the job_operations_2023/job_operations_2024 tables.

In [210]:
query1b1 = """SELECT 
            jmp_job_id,
            jmp_job_date,
            jmp_customer_organization_id
            FROM jobs"""

with engine.connect() as connection:
    jobs1b = pd.read_sql(text(query1b1), con = connection)

query1b2 = """SELECT 
            jmo_job_id,
            jmo_estimated_production_hours
            FROM job_operations_2023"""

with engine.connect() as connection:
    job_operations_20231b = pd.read_sql(text(query1b2), con = connection)

query1b3 = """SELECT 
            jmo_job_id,
            jmo_estimated_production_hours
            FROM job_operations_2024"""

with engine.connect() as connection:
    job_operations_20241b = pd.read_sql(text(query1b3), con = connection)

job_operations_20241b

           jmo_job_id  jmo_estimated_production_hours
0      35765-0001-001                            8.00
1      33620-0001-001                            0.04
2      35785-0001-001                            8.00
3      35785-0001-001                            0.07
4      35806-0001-001                            0.00
...               ...                             ...
42298  35851-0015-001                            8.00
42299  35865-0001-001                            5.20
42300  35865-0002-001                            0.00
42301  35865-0002-001                            0.00
42302  35865-0003-001                            0.00

[42303 rows x 2 columns]

In [201]:
job_half_merge = pd.merge(jobs1b,job_operations_20231b,how = 'left', left_on = 'jmp_job_id',right_on = 'jmo_job_id')
job_half_merge

,jmp_job_id,jmp_job_date,jmp_customer_organization_id,jmo_job_id,jmo_estimated_production_hours
0,31827-0002-001,2023-09-08,K007-KENWO,31827-0002-001,1.56
1,31827-0002-001,2023-09-08,K007-KENWO,31827-0002-001,0.35
2,31827-0002-001,2023-09-08,K007-KENWO,31827-0002-001,168.00
3,31827-0002-001,2023-09-08,K007-KENWO,31827-0002-001,0.14
4,31827-0003-001,2023-09-08,K007-KENWO,31827-0003-001,1.11
...,...,...,...,...,...
48523,35815-0001-001,2024-11-07,S038-STLKI,NaN,NaN
48524,35819-0001-001,2024-11-08,S046-SPOC,NaN,NaN
48525,35819-0002-001,2024-11-08,S046-SPOC,NaN,NaN
48526,35820-0001-001,2024-11-08,Y002-YNGTC,NaN,NaN
48527,35821-0001-001,2024-11-08,Y002-YNGTC,NaN,NaN

In [205]:
job_half_merge

,jmp_job_id,jmp_job_date,jmp_customer_organization_id,jmo_job_id,jmo_estimated_production_hours
0,31827-0002-001,2023-09-08,K007-KENWO,31827-0002-001,1.56
1,31827-0002-001,2023-09-08,K007-KENWO,31827-0002-001,0.35
2,31827-0002-001,2023-09-08,K007-KENWO,31827-0002-001,168.00
3,31827-0002-001,2023-09-08,K007-KENWO,31827-0002-001,0.14
4,31827-0003-001,2023-09-08,K007-KENWO,31827-0003-001,1.11
...,...,...,...,...,...
48523,35815-0001-001,2024-11-07,S038-STLKI,NaN,NaN
48524,35819-0001-001,2024-11-08,S046-SPOC,NaN,NaN
48525,35819-0002-001,2024-11-08,S046-SPOC,NaN,NaN
48526,35820-0001-001,2024-11-08,Y002-YNGTC,NaN,NaN
48527,35821-0001-001,2024-11-08,Y002-YNGTC,NaN,NaN

In [232]:
job_full_merge = pd.merge(job_half_merge,job_operations_20241b,how='left', left_on = 'jmp_job_id',right_on = 'jmo_job_id')
job_full_merge

,jmp_job_id,jmp_job_date,jmp_customer_organization_id,jmo_job_id_x,jmo_estimated_production_hours_x,jmo_job_id_y,jmo_estimated_production_hours_y
0,31827-0002-001,2023-09-08,K007-KENWO,31827-0002-001,1.56,NaN,NaN
1,31827-0002-001,2023-09-08,K007-KENWO,31827-0002-001,0.35,NaN,NaN
2,31827-0002-001,2023-09-08,K007-KENWO,31827-0002-001,168.00,NaN,NaN
3,31827-0002-001,2023-09-08,K007-KENWO,31827-0002-001,0.14,NaN,NaN
4,31827-0003-001,2023-09-08,K007-KENWO,31827-0003-001,1.11,NaN,NaN
...,...,...,...,...,...,...,...
87758,35820-0001-001,2024-11-08,Y002-YNGTC,NaN,NaN,35820-0001-001,0.00
87759,35821-0001-001,2024-11-08,Y002-YNGTC,NaN,NaN,35821-0001-001,1.00
87760,35821-0001-001,2024-11-08,Y002-YNGTC,NaN,NaN,35821-0001-001,1.88
87761,35821-0001-001,2024-11-08,Y002-YNGTC,NaN,NaN,35821-0001-001,5.00
87762,35821-0001-001,2024-11-08,Y002-YNGTC,NaN,NaN,35821-0001-001,0.00

In [190]:
job_full_merge['Month'] = job_full_merge['jmp_job_date'].dt.month_name()

In [192]:
job_full_merge['Year'] = job_full_merge['jmp_job_date'].dt.year

In [194]:
job_full_merge['season'] = ''

In [196]:
for index, row in job_full_merge.iterrows():
    if row['Month'] in ['January','February','March']:
       job_full_merge.loc[index,'season'] = 'Quarter 1'
    elif row['Month'] in ['April','May','June']:
       job_full_merge.loc[index,'season'] = 'Quarter 2'
    elif row['Month'] in ['July','August','September']:
       job_full_merge.loc[index,'season'] = 'Quarter 3'
    elif row['Month'] in ['October','November','December']:
       job_full_merge.loc[index,'season'] = 'Quarter 4'
    else: job_full_merge.loc[index, 'season'] = 'null'
job_full_merge

,jmp_job_id,jmp_job_date,jmp_customer_organization_id,jmo_job_id_x,jmo_estimated_production_hours_x,jmo_job_id_y,jmo_estimated_production_hours_y,Month,Year,season
0,31827-0002-001,2023-09-08,K007-KENWO,31827-0002-001,1.56,NaN,NaN,September,2023,Quarter 3
1,31827-0002-001,2023-09-08,K007-KENWO,31827-0002-001,0.35,NaN,NaN,September,2023,Quarter 3
2,31827-0002-001,2023-09-08,K007-KENWO,31827-0002-001,168.00,NaN,NaN,September,2023,Quarter 3
3,31827-0002-001,2023-09-08,K007-KENWO,31827-0002-001,0.14,NaN,NaN,September,2023,Quarter 3
4,31827-0003-001,2023-09-08,K007-KENWO,31827-0003-001,1.11,NaN,NaN,September,2023,Quarter 3
...,...,...,...,...,...,...,...,...,...,...
87758,35820-0001-001,2024-11-08,Y002-YNGTC,NaN,NaN,35820-0001-001,0.00,November,2024,Quarter 4
87759,35821-0001-001,2024-11-08,Y002-YNGTC,NaN,NaN,35821-0001-001,1.00,November,2024,Quarter 4
87760,35821-0001-001,2024-11-08,Y002-YNGTC,NaN,NaN,35821-0001-001,1.88,November,2024,Quarter 4
87761,35821-0001-001,2024-11-08,Y002-YNGTC,NaN,NaN,35821-0001-001,5.00,November,2024,Quarter 4
87762,35821-0001-001,2024-11-08,Y002-YNGTC,NaN,NaN,35821-0001-001,0.00,November,2024,Quarter 4

In [278]:
list1 = job_full_merge['jmo_estimated_production_hours_x'].to_list()
list2 = job_full_merge['jmo_estimated_production_hours_y'].to_list()
listed = list1+list2
jmo_estimated_production_hours= pd.DataFrame(listed)
jmo_estimated_production_hours =jmo_estimated_production_hours.rename(columns = {0:'jmo_estimated_production_hours'})
jmo_estimated_production_hours.dropna(axis=0)

        jmo_estimated_production_hours
0                                 1.56
1                                 0.35
2                               168.00
3                                 0.14
4                                 1.11
...                                ...
175521                            0.00
175522                            1.00
175523                            1.88
175524                            5.00
175525                            0.00

[91065 rows x 1 columns]

In [240]:
job_by_customer = job_full_merge.groupby(['jmp_customer_organization_id','jmp_job_id','jmp_job_date'])['jmo_estimated_production_hours'].sum()
job_count_by_customer = pd.DataFrame(job_by_customer)
job_count_by_customer

KeyError: 'Column not found: jmo_estimated_production_hours'